* {
    margin: 0;
    padding: 0;
    font-family: Times New Roman, serif;
}

.main {
    padding-top: 100px;
    text-align: center;
}

.calc {

    color: black;
}

#answer {
    padding-top: 10px;
}

label {
    display: block;
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    height: 30px;
    width: 200px;
}

input[type="button"] {
    height: 40px;
    width: 90px;
    color: rgb(0, 0, 0);
    background-color: green;

}